* { 
  box-sizing: border-box;
}

* {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

/*formatting aside on recipe page*/
aside h2{
  text-align: center;
  color: mediumpurple;
  padding-top: 1.5rem;
}

header h1 {
  text-align: center;
  color: mediumpurple;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/*formatting header link boxes*/
header li {
  float: left;
  background-color: mediumpurple;
  width: 14%;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: center;
  border-right: 2px solid RebeccaPurple;
}

/*separating font characteristics*/
header li a {
  list-style-type: none;
  font: bold 1rem;
  color: white;
}

/*creating box for aside. using px for height to match div. not ideal*/
aside {
  clear: both;
  float: left;
  width: 22%;
  height: 500px;
  background-color: plum;
  text-align: center; 
}

/*adding top margin to aside list*/
aside ul {
  margin-top: 3rem;
}

/*aside text specifications*/
aside li a {
  font: 1rem;
  color: white;
  line-height: 2rem;
}

/*formatting div for image. using px height to match columns*/
div {
  float: left;
  width: 76%;
  height: 500px;
  background-color: lightgray;  
}

div img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}

div figcaption {
  font-size: .7rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding-top: 2rem;
  line-height: 1rem;
}

/*formattting recipe steps*/
.recipestep {
  clear: both;
  background-color: pink;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 90%;
}

/*formatting recipe step header*/
h2.recipestep {
  color: white;
}

footer {
  text-align: center;
}

/*formatting footer image*/
footer img {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}





