* { 
  box-sizing: border-box;
}

* {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}



header h1 {
  text-align: center;
  color: mediumpurple;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/*formatting header link boxes*/
header li {
  float: left;
  background-color: mediumpurple;
  width: 14%;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: center;
  border-right: 2px solid RebeccaPurple;
}

/*separating font characteristics*/
header li a {
  list-style-type: none;
  font: bold 1rem;
  color: white;
}

/*formatting aside on recipe page*/
aside h2{
  text-align: center;
  color: mediumpurple;
  padding-top:3rem;
  margin-bottom: -3rem;
}

/*creating box for aside. using px for height to match div. not ideal*/
aside {
  clear: both;
  float: left;
  width: 22%;
  height: 550px;
  background-color: plum;
  text-align: center; 
}

/*adding top margin to aside list*/
aside ul {
  margin-top: 3rem;
}

/*aside text specifications*/
aside li a {
  font: 1rem;
  color: white;
  line-height: 2rem;
}

/*class for recipe step page to justify left*/
.recipe-step-links {
  text-align: left;
  padding: 2rem;
}

/*formatting div for image. using px height to match columns*/
div {
  float: left;
  width: 76%;
  height: 550px;
  background-color: lightgray;  
}

div img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}

.olaf {
  width: 40%;
}

div figcaption {
  font-size: .7rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  padding-top: 2rem;
  line-height: 1rem;
}

/*formattting recipe page steps*/
.recipestep {
  clear: both;
  background-color: pink;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 93%;
}

/*formatting recipe step header*/
article.recipestep h2 {
  color: white;
  padding-bottom: .5rem;
}


/*formatting div on reviews page*/
.rating-div {
  width: 40%;
  height: 400px;
}

/*formatting recipe photo on ratings page*/
.rating-photo {
  width: 50%;
}

/*formatting div container for ratings on review page*/
div.rating-div {
  float: left;
  height: 400px;
  weight: 50%
  background-color: orange;
}

/*formatting reviews on review page*/
.reviews {
  float: left;
  background-color: lightpink;
  height: 400px;
  width: 58%;
}

/*formatting header for reviews*/
.reviews h3 {
  color: dimgray;
  padding-top: 2rem;
  padding-left: 1rem;
}

/*formatting review content font */
.reviews p {
  color: dimgray;
  padding-left: 1rem;
}

footer {
  clear: both;
  text-align: center;
}

/*formatting footer image*/
footer img {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}





